// Links:
// https://docs.microsoft.com/en-us/windows/win32/api/verrsrc/ns-verrsrc-vs_fixedfileinfo

// File Flags
#define VS_FF_DEBUG        0x00000001L
#define VS_FF_PRERELEASE   0x00000002L
#define VS_FF_PATCHED      0x00000004L
#define VS_FF_PRIVATEBUILD 0x00000008L
#define VS_FF_INFOINFERRED 0x00000010L
#define VS_FF_SPECIALBUILD 0x00000020L

// File OS
#define VOS_UNKNOWN 0x00000000L
#define VOS_DOS     0x00010000L
#define VOS_OS216   0x00020000L
#define VOS_OS232   0x00030000L
#define VOS_NT      0x00040000L
#define VOS_WINCE   0x00050000L

#define VOS__BASE      0x00000000L
#define VOS__WINDOWS16 0x00000001L
#define VOS__PM16      0x00000002L
#define VOS__PM32      0x00000003L
#define VOS__WINDOWS32 0x00000004L

#define VOS_DOS_WINDOWS16 0x00010001L
#define VOS_DOS_WINDOWS32 0x00010004L
#define VOS_OS216_PM16    0x00020002L
#define VOS_OS232_PM32    0x00030003L
#define VOS_NT_WINDOWS32  0x00040004L

// File type
#define VFT_UNKNOWN    0x00000000L
#define VFT_APP        0x00000001L
#define VFT_DLL        0x00000002L
#define VFT_DRV        0x00000003L
#define VFT_FONT       0x00000004L
#define VFT_VXD        0x00000005L
#define VFT_STATIC_LIB 0x00000007L

// Actual definition
0 ICON "../icons/lscom-v2-text-01.ico"
1 VERSIONINFO
FILEVERSION NP_BUILD_WIFI_CLI_VERSION_MAJOR, NP_BUILD_WIFI_CLI_VERSION_MINOR, NP_BUILD_WIFI_CLI_VERSION_PATCH, NP_BUILD_WIFI_CLI_VERSION_EXTRA
PRODUCTVERSION NP_BUILD_WIFI_CLI_VERSION_MAJOR, NP_BUILD_WIFI_CLI_VERSION_MINOR, NP_BUILD_WIFI_CLI_VERSION_PATCH, NP_BUILD_WIFI_CLI_VERSION_EXTRA
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "000004b0"
    {
      VALUE "CompanyName", "NibblePoker\0"
      VALUE "FileDescription", "Command line based COM port lister\0"
      VALUE "FileVersion",  NP_BUILD_WIFI_CLI_VERSION_MAJOR "." NP_BUILD_WIFI_CLI_VERSION_MINOR "." NP_BUILD_WIFI_CLI_VERSION_PATCH "." NP_BUILD_WIFI_CLI_VERSION_EXTRA "\0"
      VALUE "InternalName", "wifi-cli\0"
      VALUE "LegalCopyright", "Not defined yet !\0"
      VALUE "LegalTrademarks1", "\0"
      VALUE "LegalTrademarks2", "\0"
      VALUE "OriginalFilename", "wifi.exe\0"
      VALUE "ProductName", "NibblePoker's CLI Wi-Fi Toolbox\0"
      VALUE "ProductVersion", "0.0.0\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0000, 0x4b0
  }
}
